body {
background-color: #f8f8f8;
}
.home-nav { 
    background-color: #f0d38a;
    padding: 10px 30px 10px 30px;
    height: 110px;
}
h2 {
    color: #505050;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    margin-left: 50px;
}

nav.home-nav img {
    max-height: 93px;
    margin-top: -6px;
}
@media only screen and (min-width: 601px) {
nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 64px;
    line-height: 84px;
}
}

.shopContainer {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.card .card-image {
    /* position: relative; */
    max-height: 300px;
    max-width: 300px;
}
.card {
    /* max-height: 400px; */
    /* width: auto; */
    max-height: 400px;
    height: 435px;
}
.btn, .btn-large, .btn-small {
    background-color:#f0d38a;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color:#b8b8b8;
}
.btn a {
    color: #ffffff;
}
.card .card-content .card-title {
    display: block;
    line-height: 1px;
    margin-bottom: -28px;
    background-color: #f0d38a;
    border-radius: 3px;
}
.shop-cart {
   background-color: #707070;
}
.shop-cart:hover {
    background-color: #b8b8b8;
}
.btn-floating.halfway-fab {
    position: absolute;
    right: 4px;
    bottom: 4px;
}
.card .card-image .card-title {
    padding: 18px
}
.card .card-title {
    font-size: 14px;
    font-weight: 300;
}
.counter {
    display: inline-flex;
    padding-left: 15px;
}
.ver-carrito { 
    margin-left: 15px;
}
h6 {
    padding: 0 10px 0 10px;
}

.col.s4.card {
    margin: 20px;
    max-height: 500px;
    width: auto;
}
.btn, .btn-large, .btn-small, .btn-floating, .btn-large, .btn-small, .btn-flat {
    font-size: 12px;
    outline: 0;
}
.dropdown-content li > a, .dropdown-content li > span {
    font-size: 14px;
    color: #c4aa6a;
}
.item-detail-collection {
    margin-top: 90px;
}